@import url("https://fonts.googleapis.com/css?family=Open+Sans");
#root {
  overflow: hidden;
  filter: saturate(1.2); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

button:hover, a:hover {
  cursor: pointer; }

.--tower,
.--bristol {
  background-color: #80D3D4 !important; }

.--greenwich,
.--birmingham {
  background-color: #70BBE5 !important; }

.--sutton,
.--belfast {
  background-color: #7499EB !important; }

.--newham,
.--plymouth {
  background-color: #5C82C8 !important; }

.--redbridge,
.--sunderland {
  background-color: #3369A0 !important; }

.--wandsworth,
.--newcastle {
  background-color: #275D9B !important; }

.--richmond,
.--leicester {
  background-color: #4E46C4 !important; }

.--lewisham,
.--aberdeen {
  background-color: #6563CF !important; }

.--bromley,
.--stoke-on-trent {
  background-color: #7870E8 !important; }

.--barking,
.--bradford {
  background-color: #8D72E5 !important; }

.--harrow,
.--liverpool {
  background-color: #A574E6 !important; }

.--enfield,
.--coventry {
  background-color: #D18EEC !important; }

.--merton,
.--wolverhampton {
  background-color: #E081D5 !important; }

.--bexley,
.--brighton {
  background-color: #E27FAD !important; }

.--barnet,
.--manchester {
  background-color: #C1719B !important; }

.--hounslow,
.--derby {
  background-color: #9B6F80 !important; }

.--hillingdon,
.--sheffield {
  background-color: #765554 !important; }

.--ealing,
.--leeds {
  background-color: #9A4647 !important; }

.--camden,
.--nottingham {
  background-color: #D34E48 !important; }

.--hackney,
.--wakefield {
  background-color: #E47C50 !important; }

.--waltham,
.--portsmouth {
  background-color: #E79B64 !important; }

.--haringey,
.--swansea {
  background-color: #F3C170 !important; }

.--havering,
.--york {
  background-color: #EADE73 !important; }

.--kingston,
.--london {
  background-color: #F8ED6E !important; }

.--southwark,
.--edinburgh {
  background-color: #D8EB79 !important; }

.--croydon,
.--glasgow {
  background-color: #B9DD72 !important; }

.--kensington,
.--hull {
  background-color: #8ED97F !important; }

.--lambeth,
.--cardiff {
  background-color: #7BBE6D !important; }

.--westminster,
.--southampton {
  background-color: #5DAE46 !important; }

.--hammersmith,
.--peterborough {
  background-color: #5EA271 !important; }

.--brent {
  background-color: #78BA8B !important; }

.--islington {
  background-color: #78BA8B !important; }

@font-face {
  font-family: 'lemonmilk';
  src: url("../assets/font/LemonMilk.otf") format("opentype"); }

@font-face {
  font-family: 'lemonmilk-light';
  src: url("../assets/font/LemonMilklight.otf") format("opentype"); }

body {
  background: linear-gradient(135deg, #D0E9EE, white);
  height: 100%;
  filter: saturate(1.1); }

p {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif; }

.Stats {
  max-height: 100%;
  display: flex;
  justify-content: left;
  padding: 1rem;
  height: 100vh;
  background: linear-gradient(135deg, #D0E9EE, white);
  overflow-x: hidden;
  overflow-y: scroll; }
  @media (min-width: 768px) {
    .Stats {
      align-items: center; } }
  @media (max-width: 768px) {
    .Stats {
      flex-direction: column;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      margin-top: 70px; } }
  .Stats .Map {
    width: 32%; }
    @media (max-width: 768px) {
      .Stats .Map {
        width: 60%;
        margin: 0 auto;
        transform: none;
        opacity: 1; }
        .Stats .Map .Map__land .Map__cities {
          display: block;
          height: 100%;
          transform: translateY(-10px); } }
    @media (max-width: 425px) {
      .Stats .Map {
        width: 70%; } }
  .Stats .--color-1 {
    background: #80D3D4 !important; }
  .Stats .--color-2 {
    background: #70BBE5 !important; }
  .Stats .--color-3 {
    background: #7499EB !important; }
  .Stats .--color-4 {
    background: #5C82C8 !important; }
  .Stats .--color-5 {
    background: #3369A0 !important; }
  .Stats .--color-6 {
    background: #275D9B !important; }
  .Stats .--color-7 {
    background: #4E46C4 !important; }
  .Stats .--color-8 {
    background: #6563CF !important; }
  .Stats .--color-9 {
    background: #7870E8 !important; }
  .Stats .--color-10 {
    background: #8D72E5 !important; }
  .Stats .--color-11 {
    background: #A574E6 !important; }
  .Stats .--color-12 {
    background: #D18EEC !important; }
  .Stats .--color-13 {
    background: #E081D5 !important; }
  .Stats .--color-14 {
    background: #E27FAD !important; }
  .Stats .--color-15 {
    background: #C1719B !important; }
  .Stats .--color-16 {
    background: #9B6F80 !important; }
  .Stats .--color-17 {
    background: #765554 !important; }
  .Stats .--color-18 {
    background: #9A4647 !important; }
  .Stats .--color-19 {
    background: #D34E48 !important; }
  .Stats .--color-20 {
    background: #E47C50 !important; }
  .Stats .--color-21 {
    background: #E79B64 !important; }
  .Stats .--color-22 {
    background: #F3C170 !important; }
  .Stats .--color-23 {
    background: #EADE73 !important; }
  .Stats .--color-24 {
    background: #F8ED6E !important; }
  .Stats .--color-25 {
    background: #D8EB79 !important; }
  .Stats .--color-26 {
    background: #B9DD72 !important; }
  .Stats .--color-27 {
    background: #8ED97F !important; }
  .Stats .--color-28 {
    background: #7BBE6D !important; }
  .Stats .--color-29 {
    background: #5DAE46 !important; }
  .Stats .--color-30 {
    background: #5EA271 !important; }
  .Stats .--color-31 {
    background: #78BA8B !important; }
  .Stats .--color-32 {
    background: #90E2A7 !important; }
  .Stats .Card {
    width: 25%;
    max-width: 270px; }
    @media (max-width: 768px) {
      .Stats .Card {
        width: 100%;
        min-height: 400px;
        margin: 0 auto;
        max-width: 100%;
        box-shadow: -1px 12px 14px 3px rgba(0, 0, 0, 0.1); }
        .Stats .Card .card-inner-wrapper {
          height: 400px; } }
  .Stats .Grid {
    width: 32%;
    min-width: 390px; }
    @media (max-width: 768px) {
      .Stats .Grid {
        margin: 1rem 0;
        padding: 0;
        width: 100%;
        min-width: 100%; } }

.Stats__mobile-header {
  display: none; }
  @media (max-width: 768px) {
    .Stats__mobile-header {
      display: flex;
      position: fixed;
      height: 75px;
      border-bottom: 4px solid white;
      background-color: white;
      top: 0;
      left: 0;
      z-index: 9;
      width: 100%;
      align-items: center;
      padding: 1rem; }
      .Stats__mobile-header p {
        font-family: 'lemonmilk', serif;
        color: white;
        font-size: 22px;
        margin-right: 1rem;
        line-height: 0.9; }
        .Stats__mobile-header p:first-of-type {
          font-size: 40px; } }

.stats-mobile-header-arrow {
  font-size: 2rem;
  fill: white;
  margin-right: 2rem; }

.Overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  background: linear-gradient(135deg, #D0E9EE, white);
  overflow-x: hidden;
  overflow-y: scroll; }

.Overview__card-container {
  width: 100%;
  max-width: calc(100% - 300px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .Overview__card-container {
      max-width: 100%;
      transform: translateY(50px); } }

.Overview__filters-container {
  max-width: 300px;
  width: 30%; }
  @media (max-width: 768px) {
    .Overview__filters-container {
      width: 100%;
      max-width: 100%;
      height: 100%;
      position: fixed;
      right: 0;
      z-index: 10;
      transition: transform 0.5s ease;
      transform: translateX(100%);
      z-index: 10; }
      .Overview__filters-container.--mobile-drawer-open {
        transition: transform 0.5s ease;
        transform: translateX(0%); } }

.mobile-header {
  display: none; }
  @media (max-width: 768px) {
    .mobile-header {
      display: flex;
      position: fixed;
      z-index: 9;
      background: white;
      height: 50px;
      width: 100%;
      justify-content: space-between;
      padding: 1rem;
      align-items: center;
      top: 0; }
      .mobile-header svg {
        color: #677174; }
        .mobile-header svg:hover {
          cursor: pointer; }
      .mobile-header p {
        font-family: 'lemonmilk', serif;
        font-size: 0.9rem;
        color: #677174; } }

.Splash {
  display: flex;
  height: 100vh;
  padding: 1rem;
  max-width: 1120px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden; }
  .Splash > div {
    width: 50%;
    height: 100%; }
  @media (max-width: 768px) {
    .Splash {
      flex-direction: column;
      position: relative;
      max-height: 100vh;
      overflow: hidden; }
      .Splash > div {
        width: 100%;
        height: auto;
        min-height: 100vh; } }

.Intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  justify-content: space-evenly; }
  @media (max-width: 768px) {
    .Intro {
      padding: 1rem;
      z-index: 1; } }

.Intro__title {
  color: white;
  text-transform: uppercase;
  font-size: 65px;
  text-align: center;
  line-height: 0.9;
  font-family: 'lemonmilk', serif; }
  @media (max-width: 768px) {
    .Intro__title {
      font-size: 40px; } }
  .Intro__title span {
    color: #677174;
    font-size: 85px;
    display: flex; }
    .Intro__title span:after {
      content: "";
      display: block; }
    @media (max-width: 768px) {
      .Intro__title span {
        font-size: 60px;
        display: flex; } }

.Intro__paragraph {
  color: #677174;
  text-align: center;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 400px; }
  @media (max-width: 768px) {
    .Intro__paragraph {
      font-size: 0.8rem;
      margin-top: 1rem; } }

.Intro__cta {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #DDE37C;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible; }
  .Intro__cta svg.play-button {
    fill: white;
    font-size: 3rem;
    transform: translateX(5px); }
  .Intro__cta:hover .cta__circle {
    animation: dash 1s linear forwards; }

.cta__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  overflow: visible; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

.Map {
  padding: 2rem;
  width: 100%; }
  @media (max-width: 768px) {
    .Map {
      z-index: 0;
      opacity: 0.5;
      transform: scale(0.6) translate3d(-10px, -175px, 0); }
      .Map.--splash {
        position: absolute; } }

.Map__svg {
  height: 100%;
  fill: #DDE37C;
  width: 100%; }

.Map__svg-wrapper {
  width: 100%;
  height: 100%; }
  .Map__svg-wrapper > div {
    height: 100%; }

.Map__land {
  position: relative;
  height: 100%;
  fill: #DDE37C; }
  .Map__land.--large {
    transform: scale(1.1); }
  .Map__land.--make-it-big {
    transform: scale(1.7); }
  .Map__land.--stats-london {
    max-height: 750px; }
  .Map__land.--splash {
    display: flex;
    align-items: center; }
    .Map__land.--splash img {
      width: 100%; }

.Map__cities, .Map__aux {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; }
  .Map__cities .inner-wrapper, .Map__aux .inner-wrapper {
    position: relative;
    width: 100%;
    height: 100%; }
  @media (max-width: 1025px) {
    .Map__cities, .Map__aux {
      height: 85%;
      transform: translateY(50px); } }
  @media (max-width: 950px) {
    .Map__cities, .Map__aux {
      height: 85.5%;
      transform: translateY(50px); } }
  @media (max-width: 900px) {
    .Map__cities, .Map__aux {
      height: 73%;
      transform: translateY(85px); } }
  @media (max-width: 800px) {
    .Map__cities, .Map__aux {
      height: 65%;
      transform: translateY(115px); } }
  @media (max-width: 768px) {
    .Map__cities, .Map__aux {
      display: none; } }

.city-svg__wrapper {
  position: absolute;
  width: 25px; }
  .city-svg__wrapper img {
    width: 100%;
    z-index: 2; }
  .city-svg__wrapper.--cloud {
    z-index: 9999;
    transition: transform 1s ease;
    transform: translate3d(-50px, 0, 0);
    animation: cloud 6s alternate-reverse infinite; }
    .city-svg__wrapper.--cloud img {
      transform: scale(2); }

.--cloud:nth-of-type(1) {
  animation-delay: 0.5s;
  animation-duration: 10.5s !important; }

.--cloud:nth-of-type(2) {
  animation-delay: 1s;
  animation-duration: 11s !important; }

.--cloud:nth-of-type(3) {
  animation-delay: 1.5s;
  animation-duration: 11.5s !important; }

.--cloud:nth-of-type(4) {
  animation-delay: 2s;
  animation-duration: 12s !important; }

.--cloud:nth-of-type(5) {
  animation-delay: 2.5s;
  animation-duration: 12.5s !important; }

.--cloud:nth-of-type(6) {
  animation-delay: 3s;
  animation-duration: 13s !important; }

.--cloud:nth-of-type(7) {
  animation-delay: 3.5s;
  animation-duration: 13.5s !important; }

.--cloud:nth-of-type(8) {
  animation-delay: 4s;
  animation-duration: 14s !important; }

.--cloud:nth-of-type(9) {
  animation-delay: 4.5s;
  animation-duration: 14.5s !important; }

.--cloud:nth-of-type(10) {
  animation-delay: 5s;
  animation-duration: 15s !important; }

.--cloud:nth-of-type(11) {
  animation-delay: 5.5s;
  animation-duration: 15.5s !important; }

.--cloud:nth-of-type(12) {
  animation-delay: 6s;
  animation-duration: 16s !important; }

@keyframes cloud {
  from {
    transform: translate3d(-50px, 0, 0); }
  to {
    transform: translate3d(100px, -50px, 0); } }

.radar {
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 1;
  transform: translateY(-64px) translateX(-39px);
  display: none; }
  .radar.--isVisible {
    display: block; }
  .radar .radar__one {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    animation: ping 1s alternate ease 0s infinite; }
  .radar .radar__two {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: ping 1s alternate ease 0.5s infinite;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%; }

@keyframes ping {
  from {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(0); }
  to {
    opacity: 0.8;
    transform: translate3d(-50%, -50%, 0) scale(1); } }

.building-inner-wrapper {
  z-index: 99;
  position: relative;
  width: 100%;
  height: 100%; }

.Card {
  width: 25%;
  height: 400px;
  background: white;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.25s ease;
  transform: translateY(0px);
  min-width: 200px; }
  .Card.--small {
    max-width: 300px; }
  .Card.--large {
    max-width: 300px;
    height: auto;
    max-height: 600px; }
    @media (min-width: 768px) {
      .Card.--large {
        height: 600px; }
        .Card.--large .card-inner-wrapper h1 {
          font-size: 7rem;
          padding-top: 1rem; } }
  @media (max-width: 1024px) {
    .Card {
      width: 35%; } }
  @media (max-width: 768px) {
    .Card {
      width: 100%;
      box-shadow: -1px 12px 14px 3px rgba(0, 0, 0, 0.05); } }
  .Card:hover {
    transform: translateY(-2px);
    transition: all 0.25s ease;
    box-shadow: -1px 12px 14px 3px rgba(0, 0, 0, 0.1); }
  .Card .card-inner-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease; }
    .Card .card-inner-wrapper.--animate {
      transition: all 0.5s ease;
      background-color: transparent !important; }
    .Card .card-inner-wrapper h1 {
      font-size: 5rem;
      text-align: center;
      color: white; }
    .Card .card-inner-wrapper h2 {
      text-align: center;
      color: white; }
    .Card .card-inner-wrapper a {
      text-align: center;
      color: white;
      display: flex;
      justify-content: center;
      transform: translateY(2px);
      text-decoration: none; }

.Card__image {
  overflow: hidden;
  transition: transform 0.5s ease;
  transform: translateY(0); }
  .Card__image img {
    min-width: 100%;
    height: 150px;
    position: relative;
    bottom: -6px; }
  .Card__image.--animate {
    transition: transform 0.5s ease;
    transform: translateY(300%); }

.Card__link.--overview {
  flex-direction: row-reverse; }
  .Card__link.--overview svg {
    font-size: 1rem;
    transform: rotate(180deg) translateY(-4px); }

.Card__link-text,
.Card__link-text-arrow {
  transition: transform 0.5s ease 0.15s;
  transform: translateX(0) translateY(2px); }
  .Card__link-text.--animate,
  .Card__link-text-arrow.--animate {
    transition: transform 0.5s ease 0.15s;
    transform: translateX(-1000%) translateY(2px); }

.Card__link-text-arrow {
  transform: translateY(6px); }

.Card__city {
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'lemonmilk', serif;
  padding: 0 1rem;
  line-height: 1;
  transition: transform 0.5s ease 0.25s;
  transform: translateX(0); }
  .Card__city.--animate {
    transition: transform 0.5s ease 0.25s;
    transform: translateX(300%); }

.Card__rank {
  font-family: 'lemonmilk', serif;
  transition: transform 0.5s ease 0.1s;
  transform: translateY(0); }
  .Card__rank.--animate {
    transition: transform 0.5s ease 0.1s;
    transform: translateY(-300%); }

.Card__wipe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: -100%;
  transform: rotate(45deg) translate3d(0, 0, 0);
  transition: transform 0.25s ease 0.25s;
  background-color: #DDE37C;
  transform-origin: center left;
  z-index: 2; }
  .Card__wipe.--animate {
    transition: transform 0.25s ease 0.25s;
    transform: rotate(45deg) translate3d(100%, 100%, 0); }

.Filters {
  background-color: white;
  position: fixed;
  height: 100vh;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .Filters {
      padding: 1rem;
      transition: transform 0.5s ease;
      transform: translateX(100%);
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .Filters.--mobile-drawer-open {
        transition: transform 0.5s ease;
        transform: translateX(0%); } }
    @media (max-width: 768px) and (max-width: 768px) {
      .Filters.--mobile-drawer-open {
        padding: 1rem 10rem; } }
    @media (max-width: 768px) and (max-width: 700px) {
      .Filters.--mobile-drawer-open {
        padding: 1rem 8rem; } }
    @media (max-width: 768px) and (max-width: 600px) {
      .Filters.--mobile-drawer-open {
        padding: 1rem 6rem; } }
    @media (max-width: 768px) and (max-width: 500px) {
      .Filters.--mobile-drawer-open {
        padding: 1rem 4rem; } }

.Filters__map {
  width: 50%;
  margin: 0 auto;
  position: relative;
  height: 150px;
  display: flex;
  align-items: center; }
  .Filters__map p {
    font-size: 20px;
    position: absolute;
    top: 50%;
    line-height: 1.1;
    transform: translateY(-50%);
    font-family: 'lemonmilk', serif;
    color: #677174;
    text-align: center; }
  @media (max-width: 768px) {
    .Filters__map {
      display: none; } }

.Filters__toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-evenly; }
  .Filters__toggle p {
    font-family: 'lemonmilk', serif;
    color: #677174;
    text-align: center;
    font-size: 16px; }
  @media (max-width: 768px) {
    .Filters__toggle {
      margin-bottom: 1rem; } }

.switch {
  width: 50px;
  height: 3px;
  position: relative; }

.switch-indicator {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #DDE37C;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: transform 1s ease; }
  .switch-indicator.--london-switch {
    transition: transform 1s ease;
    transform: translateX(50px) translateY(-50%); }

.switch-track {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  background-color: #677174; }

.Filters__filters {
  padding: 1rem 0; }
  .Filters__filters > p {
    text-align: center;
    font-family: 'lemonmilk', serif;
    color: #677174;
    font-size: 12px; }
  @media (max-width: 768px) {
    .Filters__filters {
      padding: 2rem 2rem 0rem 2rem; }
      .Filters__filters > p {
        font-weight: 300;
        font-family: 'Open Sans', sans-serif; } }
  @media (max-width: 425px) {
    .Filters__filters {
      padding: 2rem 0 0 0; } }

.filters__button {
  width: 100%;
  background: transparent;
  padding: 5px 0;
  font-family: 'lemonmilk', serif;
  color: #677174;
  font-size: 12px;
  border: 2px solid transparent;
  cursor: pointer; }
  .filters__button:hover {
    border: 2px solid rgba(0, 0, 0, 0.5); }
  .filters__button.--selected {
    border: 2px solid #677174; }
  .filters__button p {
    font-family: 'lemonmilk', serif;
    color: #677174;
    font-size: 12px; }

.filters__options-container {
  display: flex;
  flex-wrap: wrap; }

.filters__option {
  width: 50%;
  padding: 1rem;
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column; }
  .filters__option img {
    transform: translateX(8px);
    margin: 0 auto; }
  .filters__option button {
    margin-top: 5px; }
  .filters__option:hover .filters__option-wrapper {
    transition: transform 0.5s ease;
    transform: translateY(-5px) translateX(8px); }
  .filters__option:nth-of-type(3) {
    padding: 0rem 1rem 0rem 1rem; }
  .filters__option:nth-of-type(4) {
    padding: 0rem 1rem 0rem 1rem; }

.filters__option-wrapper {
  transition: transform 0.5s ease;
  height: 65px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .filters__option-wrapper {
      height: 50px; } }

.filters__subcategories {
  opacity: 0; }
  .filters__subcategories.--selected {
    opacity: 1; }
  .filters__subcategories li {
    margin: 8px 0;
    opacity: 0.7;
    list-style: none;
    font-size: 10px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #677174;
    text-align: center;
    cursor: pointer;
    line-height: 1.1; }
    .filters__subcategories li:hover {
      opacity: 1; }
    .filters__subcategories li.--selected {
      opacity: 1; }

.Filters__mobile-close-container {
  display: none; }
  @media (max-width: 768px) {
    .Filters__mobile-close-container {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 0.5rem; }
      .Filters__mobile-close-container svg {
        font-size: 1rem;
        color: #677174; }
        .Filters__mobile-close-container svg:hover {
          cursor: pointer; } }

.Filters__heading {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center; }
  .Filters__heading p {
    font-family: 'lemonmilk', serif;
    color: grey;
    padding-left: 1rem;
    font-size: 12px; }
  .Filters__heading button {
    opacity: 0.2;
    max-width: 75px;
    border: 2px solid #677174;
    transition: all 0.15s ease; }
    .Filters__heading button p {
      padding-left: 0rem !important; }
    .Filters__heading button:hover {
      opacity: 1;
      transition: all 0.15s ease;
      background-color: #D34E48;
      border: 2px solid #D34E48; }
      .Filters__heading button:hover p {
        padding-left: 0rem !important;
        color: white; }

.Social__icons {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse; }

.Social__logo {
  width: 100%; }
  .Social__logo img {
    width: 100%;
    height: 100%; }

.Social__container {
  position: relative;
  width: 80%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .Social__container {
      transform: translateY(-5px); } }

.social__link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center; }
  .social__link svg {
    fill: white; }

.brought-to-you {
  color: #677174;
  font-size: 12px;
  margin-top: 1rem;
  text-align: center;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif; }

.c-t-m {
  text-align: center;
  color: #677174;
  font-family: 'lemonmilk', serif; }

.Grid {
  padding: 1rem; }
  @media (max-width: 768px) {
    .Grid {
      width: 100%; } }

.Grid__tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (max-width: 768px) {
    .Grid__tile-container {
      width: 100%; } }

.GridTile {
  background-color: white;
  width: 100px;
  height: 100px;
  margin: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  box-shadow: -1px 1px 14px 3px rgba(0, 0, 0, 0.02); }
  .GridTile p {
    color: #677174;
    font-size: 1.3rem;
    margin-top: 5px; }
    .GridTile p:first-of-type {
      font-weight: 500;
      margin-top: 0px;
      font-size: 0.7rem;
      text-align: center;
      line-height: 1; }
      @media (max-width: 768px) {
        .GridTile p:first-of-type {
          font-size: 0.8rem; } }
  @media (max-width: 768px) {
    .GridTile {
      width: 100%;
      height: 70px;
      margin: 7px 0; } }

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #DDE37C;
  transition: transform 1s ease;
  transform: translateX(-300%) skew(45deg);
  z-index: 9999; }
  .Modal.--animate {
    transition: transform 1s ease;
    transform: translateX(0) skew(0); }

.Modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease 0s;
  padding: 1rem; }
  .Modal__content h1 {
    color: white;
    font-family: 'lemonmilk', serif; }
  .Modal__content.--animate {
    opacity: 1;
    transition: opacity 0.5s ease 1s; }

.modal__content {
  margin-top: 2rem; }
  .modal__content p {
    color: #677174;
    text-align: center;
    line-height: 1.6; }
  .modal__content h2 {
    margin-top: 2rem;
    font-family: 'lemonmilk', serif;
    color: white;
    text-align: center; }
  .modal__content li {
    list-style: none;
    text-align: center; }
    .modal__content li a {
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      color: #677174;
      text-align: center;
      line-height: 1.6; }

.modal__close-container {
  display: flex;
  justify-content: flex-end;
  padding: 1rem; }
  .modal__close-container:hover {
    cursor: pointer; }
  .modal__close-container svg {
    opacity: 0;
    transform: rotateZ(0deg);
    transition: all 0.5s ease 2s;
    fill: white;
    font-size: 2rem;
    transform-origin: 50% 50%; }
  .modal__close-container.--animate svg {
    opacity: 1;
    transform: rotateZ(180deg);
    transition: all 0.5s ease 2s; }
