* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin laptop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 425px) {
    @content;
  }
}

@import "../views/detail/detail.scss";
@import "../views/overview/overview.scss";
@import "../views/splash/splash.scss";

@import "../components/Intro/Intro.scss";
