.Intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  justify-content: space-evenly;

  @include tablet {
    padding: 1rem;
    z-index: 1;
  }
}

.Intro__title {
  color: white;
  text-transform: uppercase;
  font-size: 65px;
  text-align: center;
  line-height: 0.9;
  @include font-lemonmilk;

  @include tablet {
    font-size: 40px;
  }

  span {
    color: $grey;
    font-size: 85px;
    display: flex;

    &:after {
      content: "";
      display: block;
    }

    @include tablet {
      font-size: 60px;
      display: flex;
    }
  }
}

.Intro__paragraph {
  color: $grey;
  text-align: center;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 400px;
  // @include font-lemonmilk-light;

  @include tablet {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
}

.Intro__cta {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: $green;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;

  svg.play-button {
    fill: white;
    font-size: 3rem;
    transform: translateX(5px);
  }

  &:hover {
    .cta__circle {
      animation: dash 1s linear forwards;
    }
  }

  @include tablet {
    // width: 85px;
    // height: 85px;
  }
}

.cta__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  overflow: visible;

  // &:hover {
  //   animation: dash 1s linear forwards;
  // }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}