.Filters {
  background-color: white;
  position: fixed;
  height: 100vh;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    padding: 1rem;
    transition: transform 0.5s ease;
    transform: translateX(100%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &.--mobile-drawer-open {
      transition: transform 0.5s ease;
      transform: translateX(0%);

      @media (max-width: 768px) {
        padding: 1rem 10rem;
      }

      @media (max-width: 700px) {
        padding: 1rem 8rem;
      }

      @media (max-width: 600px) {
        padding: 1rem 6rem;
      }

      @media (max-width: 500px) {
        padding: 1rem 4rem;
      }
    }
  }
}

.Filters__map {
  width: 50%;
  margin: 0 auto;
  position: relative;
  height: 150px;
  display: flex;
  align-items: center;

  p {
    font-size: 20px;
    position: absolute;
    top: 50%;
    line-height: 1.1;
    transform: translateY(-50%);
    @include font-lemonmilk;
    color: $grey;
    text-align: center;
  }

  @include tablet {
    display: none;
  }
}

.Filters__toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-evenly;
  // max-width: 400px;

  p {
    @include font-lemonmilk;
    color: $grey;
    text-align: center;
    font-size: 16px;
  }

  @include tablet {
    margin-bottom: 1rem;
  }
}

.switch {
  width: 50px;
  height: 3px;
  position: relative;
}

.switch-indicator {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: $green;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: transform 1s ease;
  
  &.--london-switch {
    transition: transform 1s ease;
    transform: translateX(50px) translateY(-50%);
  }
}

.switch-track {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  background-color: $grey;
}

.Filters__filters {
  padding: 1rem 0;

  > p {
    text-align: center;
    @include font-lemonmilk;
    color: $grey;
    font-size: 12px;
  }

  @include tablet {
    padding: 2rem 2rem 0rem 2rem;

    > p {
      @include roboto;
    }
  }

  @include mobile {
    padding: 2rem 0 0 0;
  }
}

.filters__button {
  width: 100%;
  background: transparent;
  padding: 5px 0;
  @include font-lemonmilk;
  color: $grey;
  font-size: 12px;
  border: 2px solid transparent;
  cursor: pointer;

  &:hover {
    border: 2px solid rgba(0, 0, 0, 0.5);
  }
  
  &.--selected {
    border: 2px solid $grey;
  } 

  p {
    @include font-lemonmilk;
    color: $grey;
    font-size: 12px;
  }
}

.filters__options-container {
  display: flex;
  flex-wrap: wrap;
}

.filters__option {
  width: 50%;
  padding: 1rem;
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;

  img {
    transform: translateX(8px);
    margin: 0 auto;
  }

  button {
    margin-top: 5px;
  }
  
  &:hover {
    .filters__option-wrapper {
      transition: transform 0.5s ease;
      transform: translateY(-5px) translateX(8px);
    }
  }

  // &:nth-of-type(1) {
  //   max-height: 170px;
  // }
  // &:nth-of-type(2) {
  //   max-height: 170px;
  // }
  &:nth-of-type(3) {
    padding: 0rem 1rem 0rem 1rem;
  }
  &:nth-of-type(4) {
    padding: 0rem 1rem 0rem 1rem;
  }
  @include tablet {
  }
}

.filters__option-wrapper  {
  transition: transform 0.5s ease;
  height: 65px;
  margin: 0 auto;

  @include tablet {
    height: 50px;
  }
}

.filters__subcategories {
  opacity: 0;

  &.--selected {
    opacity: 1;
  }

  li {
    margin: 8px 0;
    opacity: 0.7;
    list-style: none;
    font-size: 10px;
    @include roboto;
    color: $grey;
    text-align: center;
    cursor: pointer;
    line-height: 1.1;
    
    &:hover {
      opacity: 1;
    }

    &.--selected {
      opacity: 1;
    }
  }
}

.Filters__mobile-close-container {
  display: none;

  @include tablet {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
  
    svg {
      font-size: 1rem;
      color: $grey;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.Filters__heading {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;

  p {
    @include font-lemonmilk;
    color: grey;
    padding-left: 1rem;
    font-size: 12px;
  }

  button {
    opacity: 0.2;
    max-width: 75px;
    border: 2px solid $grey;
    transition: all 0.15s ease;

    p {
      padding-left: 0rem !important;        
    }

    &:hover {
      p {
        padding-left: 0rem !important;        
        color: white;
      }

      opacity: 1;
      transition: all 0.15s ease;
      background-color: #D34E48;
      border: 2px solid #D34E48;
    }
  }
}