.Splash {
  display: flex;
  height: 100vh;
  padding: 1rem;
  max-width: 1120px;
  margin: 0 auto;
  
  height: 100vh;
  background: linear-gradient(135deg, #D0E9EE, white);
  overflow-x: hidden;
  overflow-y: scroll;

  > div {
    width: 50%;
    height: 100%;
  }
}